body {
  background: #F2F9FC;
  text-align: center;
}

.App {
  background: #fff;
  width: 80%;
  margin: 50px auto;
  box-shadow: 0px 3px 15px #E7ECF1B2;
  border-radius: 6px;
  border-bottom: 1px solid #E7ECF1B2;
}

header {
  border-bottom: 1px solid #cfcfcfb2;
  border-radius: 6px 6px 0 0;
  text-align: justify;
  padding: 10px 40px;
  font-family: 'Roboto', sans-serif;
  color: #555;
}

.product-item {
  display: grid;
  grid-template-columns: 3% 30% 50% 17%;
  width: 90%;
  border: none;
  margin-bottom: 1px;
  background-color: #F2F9FC;
}

.product-item:hover {
  background-color: #fff;
}

.product-item input {
  padding: 30px 0;
  font-size: 15px;
  background-color: #F2F9FC;
}

.product-name {
  width: 100%;
  font-weight: bold;
  text-align: justify;
}

.product-description {
  text-align: center;
}

.product-id {
  display: flex;
  justify-content: space-between;
}

.product-id input {
  width: 90%;
  text-align: center;
}

input {
  border: none;
}

.d-block {
  display: none;
}

.product-item:hover input{
  background: #fff;
}

.product-item input:focus{
  background: #fff;
}

.product-item:hover .d-block{
  display: block;
  cursor: pointer;
  padding-right: 20px;
}

.product-item:hover .selector{
  background-color: #253E57;
}

.product-item:nth-child(1) .selector{
  background-color: #253E57;
}

.product-item:nth-child(1) input{
  background-color: #fff;
}

.product-item:nth-child(1) {
  background-color: #fff;
}

.product-item ~ .d-block{
  display: block;
  cursor: pointer;
  padding-right: 20px;
}

.categories {
  display: grid;
  grid-template-columns: 5% 30% 45% 20%;
  padding: 10px 0;
  width: 90%;
  margin-left: 40px;
  margin-top: 20px;
  font-size: 20px;
}

.rn-program {
  text-align: left;
}

.programs-outcomes { 
  color: #253E57;
}

.desc {
  color: #66707F;
  font-family: 'Roboto', sans-serif;
  text-align: justify;
}

.form {
  text-align: justify;
  margin-left: 60px;
  display: grid;
  grid-template-columns: 28% 47% 10% 5%;
}

.input-style {
  border: 1px solid #C7D4E1;
  border-radius: 6px;
  padding: 13px;
}

.desc-input {
  margin: 0 10px;
}

.submit-btn {
  border: none;
  border-radius: 6px;
  background: none;
  cursor: pointer;
  margin-left: 10px;
}

.submit-btn img {
  width: 25px;
}

.selector {
  background-color: #F0F3F6;
  border: 1px solid #F0F3F6;
}

.add {
  cursor: pointer;
  font-size: 30px;
}

.plus {
  font-size: 20px;
}

.d-flex {
  display: flex;
  justify-content: space-around;
}

.add-outcome {
  cursor: pointer;
}

.add-outcome button {
  border: 1px solid #d8d8d8;
  border-radius: 6px;
  background: none;
  cursor: pointer;
  text-align: left;
  margin-right: 5px;
  padding: 15px 10px;
}