body {
  background: #F2F9FC;
  text-align: center;
}

.App {
  background: #fff;
  width: 1000px;
  margin: 50px auto;
  box-shadow: 0px 3px 15px #E7ECF1B2;
  border-radius: 6px;
  border-bottom: 1px solid #E7ECF1B2;
}

header {
  border-bottom: 1px solid #cfcfcfb2;
  border-radius: 6px 6px 0 0;
  text-align: justify;
  padding: 10px 40px;
  font-family: 'Roboto', sans-serif;
  color: #555;
}

.product-item {
  display: grid;
  grid-template-columns: 35% 45% 15%;
  width: 900px;
  border: 1px solid #ccc;
  /* border-radius: 5px; */
  /* box-shadow: 0 0 5px #ccc; */
  padding: 10px;
}

.product-name {
  width: 90%;
}

.product-id {
  /* margin-left: 5px;d */
  display: flex;
  justify-content: space-between;
}

.product-id input {
  padding: 10px 0;
  /* text-align: center; */
  width: 90%;
}

input {
  border: none;
}

.d-block {
  display: none;
}

.product-item:hover .d-block{
  display: block;
  cursor: pointer;
}